body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url("back.jpg");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    text-align:right;
    bottom:0;
    position:absolute;
    background-color:#3f3f3f;
    width:100%;
    left:0;
}
footer > p {
        color:#777;
}
